<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Unlock your potential with our cutting-edge online course recommendation
    system. Tailored to your unique learning style and goals, our platform utilizes advanced algorithms to suggest
    the perfect courses for your success. Explore a personalized learning journey that adapts to your preferences,
    ensuring a seamless and efficient educational experience. Elevate your skills, knowledge, and career prospects
    with our intelligently curated online courses. Start your transformative learning adventure today!">
    <meta name="keywords"
        content="MOOC,recommendation system,search online courses,online course recommendation system">
    <meta name="author" content="Ocean Sitaula">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Online Course Recommendation System</title>
</head>

<body>
    <div id="page-container">
        {% include 'navbar.html' %}

        <main>
            <div class="layout">

                <div class="categories">
                    <!-- a href needs to be filled with insidecategory.html  -->
                    {% for topic in topics %}
                    <a href="{% url 'categoriesCourseName' %}?genre={{ topic }}">
                        <span class="{{ topic }}">
                            <h1>{{ topic }}</h1>
                        </span>
                    </a>
                    {% endfor %}
                </div>

            </div>
            <br>
        </main>

        <footer>
            <div class="foot">
                <u>
                    <h3>About Us</h3>
                </u>
                <p>Our Online Course Recommendation System utilizes advanced algorithms to suggest the perfect courses
                    considering personalized user preferences.<br> Our platform has been tailored to individual's unique
                    learning style and goals.
                </p><br>
                <p class="copyright">Online Course Recommendation System © 2024</p>
            </div>
        </footer>
    </div>
</body>

</html>