{% load static %}
<header>
    <nav>
        <a href="#" id="hamburger_menu">
            <i class="fa fa-bars"></i>
        </a>
        <ul class="navcontents">
            {% comment %} <li class="active"><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/saved_courses">Saved</a></li> {% endcomment %}
            <li {% if request.path == '/' %}class="active"{% endif %} {% if request.path == '/top50/reviews/' %}class="active"{% endif %} {% if request.path == '/top50/enrollment/' %}class="active" {% endif %}><a href="/">Home</a></li>
            <li {% if request.path == '/search' %}class="active"{% endif %} {% if request.path == '/searchResult' %}class="active"{% endif %}><a href="/search">Search</a></li>
            <li {% if request.path == '/categories' %}class="active"{% endif %} {% if request.path == '/categoriesCourseName' %}class="active"{% endif %}><a href="/categories">Categories</a></li>
            <li {% if request.path == '/saved_courses' %}class="active"{% endif %}><a href="/saved_courses">Saved</a></li>
        </ul>
         <!-- either  -->
         
        <!-- or -->
        {% if user.is_authenticated %}
        <div class="userprofile">
            <a id="profilepic" href="/signout"><img src="/static/images/userprofilepicture.jpg" alt="User"></a>
            <div id="dropdown">
                <ul>
                    {% comment %} <li><a href="#">Switch Theme</a></li>
                    <li><a href="#">Edit Profile</a></li> {% endcomment %}
                    <hr>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </div>
        {% else %}
        <ul  class="login"><li><a href="/login">Login</a></li></ul>
        {% endif %}
        <div class="searchbox">
            <form action="/searchResult" method="POST">
                {% csrf_token %}
                <input name="course" type="text" placeholder="Search for Courses" id="course">

                <button type="submit"><i class="fa fa-search icon"></i></button>
            </form>
        </div> 
    </nav>

</header>