<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Unlock your potential with our cutting-edge online course recommendation
    system. Tailored to your unique learning style and goals, our platform utilizes advanced algorithms to suggest
    the perfect courses for your success. Explore a personalized learning journey that adapts to your preferences,
    ensuring a seamless and efficient educational experience. Elevate your skills, knowledge, and career prospects
    with our intelligently curated online courses. Start your transformative learning adventure today!">
    <meta name="keywords"
        content="MOOC,recommendation system,search online courses,online course recommendation system">
    <meta name="author" content="Ocean Sitaula">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Online Course Recommendation System</title>
</head>

<body>
    <div id="page-container">
        {% include 'navbar.html' %}
        

        <main class="loginmain">
            <img src="/static/images/loginbg.png" class="bg1">
            <img src="/static/images/loginbg2.png" class="bg2">

            <div class="loginwrapper">
                <h1 class="lessmargin">Reset Password</h1>
                {% if validlink %}
                <p class="info1">Create a strong password :</p>
                <form action="." method="post">
                {% comment %} <div class="userpass">
                {{ form.as_p }} {% endcomment %}
                <p class="info2">
                    Your password cant be too similar to your other personal information. <br>
                    Your password must contain at least 8 characters. <br>
                    Your password cant be a commonly used password. <br>
                    Your password cant be entirely numeric.
                </p>
                <div class="userpass">
                    <p class="info3">Enter New Password</p>
                    {{ form.new_password1 }}
                    <i class="fa fa-lock shifted"></i>
                </div>
                <div class="userpass">
                    <p class="info3">Confirm Password</p>
                    {{ form.new_password2 }}
                    <i class="fa fa-lock shifted"></i>
                </div> 
            {% comment %} </div> {% endcomment %}
                {% csrf_token %}
                <div class="button">
                    <input class="click" type="submit" value="Change Password">
                </div>
                </form>
                {% else %}
                <p class="info">The password reset link was invalid, possibly because it has
                already been used or expired. <br>Please request a new password reset.</p>
                {% endif %}
            </div>
        </main>

    </div>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>

</html>